@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(0,0,0);
  background: linear-gradient(149deg, rgb(10, 10, 10) 35%, rgb(0, 0, 0) 100%);
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  line-height: 1.1;
  font-size: 3.2em;
}

button {
  
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #0ea5e9;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
}

button:focus,
button:focus-visible {
  outline: none;
}

button:hover {
  transition: border-color 0.25s;
}

/* Custom Scrollbar Styles */

/* Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  border-radius: 100px; /* Rounded corners for the track */
  background: #1F1F22; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  border: 2px solid #1F1F22; /* Adds space around the thumb */
  border-radius: 100px; /* Rounded corners for the thumb */
  background: #575757; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; /* Color of the scrollbar thumb on hover */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #575757 #111111; /* Thumb color and track color */
}

/* Optional: Customize the scrollbar corner (useful for overflow: scroll elements) */
::-webkit-scrollbar-corner {
  background: #1F1F22; /* Background color of the scrollbar corner */
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: #4a4a4a;
  border-radius: 2px;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: #08B2F0;
}